/* Regras gerais para todas as páginas */
* {
	margin: 0px;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	color: #3C3B37;
	text-decoration:none;
}


/* Regras do menu */
#menu {
	width: 100%;
	height: 40px;
	background-color: #F8F8F8;
	position: fixed;
}

#menu ul {
    height:100%;
}

#menu ul li {
    height:100%;
	padding-right: 5px;
	padding-left: 5px;
	display: inline-flex;
}

#menu ul li a:hover {
    background-color:#DDDDDD;
}

#menu ul li a{
	padding-right: 5px;
	padding-left: 5px;
    padding-top: 10px;
}

.menu_ativo {
	background-color:#DDDDDD;
}


/* Regras da div conteudo */
#conteudo {
	margin-left: 10px;
	padding-top: 45px;
}


/* Regras do formulário */
legend {
	font-weight: bolder;
	padding-bottom: 10px;
}

label,  input {
	display: block;
	float: left;
}

label {	
	width: 50px;
	padding-right: 20px;
	padding-bottom: 10px;
}

input, select {
	width: 200px;
}

fieldset {
	border: solid 1px #000;
}

br {
	clear: left;
}



/* Regras para tabelas */
thead tr {
    background-color:#DDDDDD;
}

table tbody tr:nth-child(odd) {
	background:#F4F4F4;
}

table tbody tr:hover {
	background:#DDDDDD;
}


/* Classes para exibição das mensagens informativas de erro e sucesso */
.erro {
	width: 280px;
	background-color: #FFADAD;
	color: #FF0000;
	font-weight: bold;
}

.successo {
	width: 280px;
	background-color: #A9FCB4;
	color: #08931D;
	font-weight: bold;
}